{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-md-6 col-lg-5">
        <div class="card card-material text-center p-5">
            <h2 class="mb-3" style="color: #1e8e3e; font-weight: bold;">Password Changed!</h2>
            <p class="text-secondary mb-4 fs-5">
                Your password has been successfully updated.
            </p>
            <a href="{% url 'accounts:login' %}" class="btn btn-google btn-lg px-5 mt-2">Sign in</a>
        </div>
    </div>
</div>
{% endblock %}
